<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">สมัครสมาชิก</h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devisemes' %>

    
      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, placeholder: "ชื่อ - สกุล", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "อีเมล์", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "รหัสผ่าน", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "สมัรสมาชิก", class: "btn btn-normal btn-block" %>
        <hr/>
    <%= link_to "ลงชื่อเข้าใช้ด้วย Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %> 
      </div>
    <% end %>
    <br/>
           <div class="text-center">
       <div class="form-group" font="5">เมื่อท่านสมัครสมาชิก เราถือว่าท่านได้อ่านและยอมรับใน เงื่อนไขและข้อตกลงการใช้บริการของเราทุกประการ  
       </div>
       </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>