
<div class="agileheader">
  
</div>
<!--//header-->

<!--main-->
<div class="main-w3l">
<div class="w3layouts-main">
  <h2>สมัครสมาชิก</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

     <div class="form-group" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}">
        <%= f.email_field :email, autofocus: true, placeholder: "อีเมล์", class: "form-control" %>
      </div>

       <div class="form-group" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" >
        <%= f.password_field :password, autocomplete: "off", placeholder: "รหัสผ่าน", class: "form-control" %>
      </div>

      <div class="form-group" >
        <%= f.text_field :fullname, autofocus: true, placeholder: "ชื่อ - สกุล", class: "form-control" %>
      </div>

        <div class="actions">
        <%= f.submit "สมัรสมาชิก", class: "btn btn-normal btn-block" %>
        <% end %>
      </div>
      <br/>
 
    <%= link_to "ลงชื่อเข้าใช้ด้วย Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %>
    </div>
  </div>
</div>




<!--//main-->

<!--footer-->
<!-- <div class="footer-w3l">
  <p>StayNPlay Technology | All rights reserved &copy; 2018 </p>
</div> -->





<!-- <div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">สมัครสมาชิก</h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devisemes' %>

    
      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, placeholder: "ชื่อ - สกุล", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "อีเมล์", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "รหัสผ่าน", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "สมัรสมาชิก", class: "btn btn-normal btn-block" %>
        <hr/>
    <%= link_to "ลงชื่อเข้าใช้ด้วย Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %> 
      </div>
    <% end %>
    <br/>
           <div class="text-center">
       <div class="form-group" font="5">เมื่อท่านสมัครสมาชิก เราถือว่าท่านได้อ่านและยอมรับใน 
        <a href="#" data-toggle="modal" data-target="#exampleModalLong">ข้อตกลงและเงื่อนไขการใช้บริการ</a>
<!-- Modal ของเราทุกประการ 
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์<br/>(Term of Service)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                  <p> ยินดีต้อนรับสู่เว็บไซต์ Staynplay.club และขอบคุณผู้ใช้บริการที่เข้ามาเยื่ยมชมเว็บไซต์ของเรา Staynplay.club เป็นเว็บไซต์สื่อกลางที่ให้บริการด้านข้อมูลที่พัก รีสอรท์ และโรงแรม เพื่อให้ผู้ใช้บริการสามารถลงประกาศให้เช่า และค้นหาข้อมูลที่พัก รีสอรท์ และโรงแรม ได้ตรงตามความต้องการของผู้ใช้บริการ ภายใต้การให้บริการของเว็บไซต์ เราจำเป็นต้องมีข้อตกลงและเงื่อนไขการใช้บริการ ดังนั้น กรุณาอ่านข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์นี้ให้ละเอียดถี่ถ้วน และตกลงยอมรับเงื่อนไขนี้ก่อนเข้าใช้งานเว็บไซต์</p>
                  <h4>1. บัญชีสมาชิก</h4>
                  <p>บัญชี StaynPlay.club และ ID ผู้ใช้ ของคุณไม่สามารถโอนหรือขายให้บุคคลอื่นได้ หากคุณลงทะเบียนเป็นองค์กรทางธุรกิจ (เช่นตัวแทนการท่องเที่ยว ผู้ค้าส่ง ผู้ประสานงานกลุ่มโรงแรม หรือผู้ให้บริการการท่องเที่ยวอื่น ๆ ) คุณรับรองว่าคุณมีอำนาจในการผูกมัดกับข้อตกลงนี้ ผู้ประกอบการที่ใช้บริการนี้เพื่อตรวจสอบราคาโดยปราศจากเจตนาในการติดต่อผู้ขายออนไลน์จะต้องถูกระงับหรือยกเลิกบัญชี
                  <h4>2. ค่าธรรมเนียมและบริการ</h4>
                  <p>StaynPlay.club เป็นบริการฟรีสำหรับบุคคลทั่วไป ตัวแทนการท่องเที่ยว ผู้ประสานงานกลุ่ม และผู้ค้าส่งโรงแรม ผู้ให้บริการที่พัก โรงแรม และผู้ให้บริการด้านการท่องเที่ยว จะเป็นผู้รับผิดชอบในการชำระค่าธรรมเนียมการแนะนำ 10% ให้กับ StaynPlay.club สำหรับธุรกรรมที่เกิดขึ้นจริงซึ่งอ้างอิงจากการนำเสนอข้อมูลที่พักบนเว็บไซต์หรือผ่านการรับคำขอผ่านช่องทางที่สมควรได้รับค่าคอมมิชชั่น ผู้ประกอบการบ้านพัก รีสอรท์ และโรงแรมอาจเลือกที่จะเพิ่มค่าธรรมเนียมการแนะนำให้กับ StaynPlay.club อย่างไรก็ตามค่าธรรมเนียมการแนะนำจะไม่น้อยกว่าที่ระบุไว้ในเอกสารฉบับนี้ ผู้ประกอบการบ้านพัก รีสอรท์ และโรงแรมคือผู้รับผิดชอบในการติดตามดูแลการจองที่พักของลูกค้า
                  หากท่านไม่สามารถติดตามการจองเหล่านั้นได้เนื่องจากระเบียนไม่สมบูรณ์ บันทึกสูญหาย หรือถูกขโมย ความล้มเหลวด้านเทคนิค หรือเหตุผลอื่นใด ผู้ประกอบการบ้านพัก รีสอรท์ และโรงแรมจะเป็นผู้รับผิดชอบในค่าธรรมเนียมการแนะนำ 10% จากการจองห้องพักทั้งหมดตามที่ปรากฏในคำขอของลูกค้าออนไลน์ในการขอรับข้อเสนอ ผู้ประกอบการบ้านพัก รีสอรท์ และโรงแรมมีหน้าที่ในการติดตามการชำระค่าธรรมเนียมการแนะนำให้กับ StaynPlay.club เมื่อลูกค้าเช็คเอาท์โดยไม่คำนึงว่าการสำรองดังกล่าวถูกจองผ่านผู้ขายรายอื่นหรือไม่</p>
                  <h4>3. StaynPlay.club เป็นสถานที่นัดพบออนไลน์</h4>
                  <p>StaynPlay.club ไม่ได้ให้เป็นผู้ให้บริการด้านการจองที่พัก เว็บไซต์เราทำหน้าที่เป็นเสมือนสถานที่เพื่อให้ผู้ขาย/โรงแรม ผู้ประกอบการบ้านพักและรีสอร์ท หรือผู้ให้บริการด้านการท่องเที่ยวสามารถขายห้อง หรือบริการในอัตราที่ประกาศไว้ StayNPlay.club ไม่มีส่วนเกี่ยวข้องกับการทำธุรกรรมระหว่างผู้ซื้อกับผู้ขาย ดังนั้น StayNPlay.club จึงไม่สามารถควบคุมคุณภาพ ความปลอดภัย หรือความถูกต้องตามกฎหมายที่ว่าด้วยสินค้าที่นำมาโฆษณาเป็นความจริงหรือความถูกต้องของรายละเอียด ความสามารถของผู้ขายในการขายสินค้าหรือความสามารถของผู้ซื้อในการชำระค่าสินค้า บริษัท ไม่สามารถรับประกันได้ว่าผู้ซื้อหรือผู้ขายจะทำการตกลงการซื้อขายจนเสร็จสมบูรณ์ ในฐานะสถานที่นัดพบออนไลน์ StaynPlay.club อนุญาตให้ บริษัท ผู้ให้บริการด้านการท่องเที่ยวและ/หรือผู้ให้บริการการท่องเที่ยวเรียกเก็บค่าบริการบางส่วนเพื่อเป็นการรับประกันการเดินทางเข้าพัก และในกรณีที่ถูกการระงับการให้บริการ StaynPlay.club จะไม่รับผิดชอบ หรือชดใช้ค่าเสียหายใดๆ หากมีการเรียกร้องค่าเสียหาย และค่าใช้จ่าย จากข้อพิพาทใด ๆ ที่เกิดขึ้นจากการใช้บริการออนไลน์ของ StaynPlay.club  โรงแรม และ หรือ ผู้ให้บริการการท่องเที่ยว ตกลงที่จะไม่เอาผิดกับ StaynPlay.club หากความเสียหายที่เกิดขึ้นอันเนื่องมาจากการดำเนินการ หรือการปฏิบัติงาน หรือการไม่ปฏิบัติตามข้อตกลง ที่ทำขึ้นจากบริการของ StaynPlay.club</p>
                  <h4>4. การใช้งานเว็บไซต์ และลิขสิทธิ์ตามกฎหมาย</h4>
                  <p>การใช้งานเว็บไซต์ของผู้ให้บริการนั้นผู้ใช้บริการต้องยอมรับว่า ส่วนต่างๆที่ปรากฏอยู่บนเว็บไซต์นี้ได้รับความคุ้มครองในด้านลิขสิทธิ์ ไม่ว่าจะเป็นเครื่องหมายการค้า ชื่อทางการค้า เนื้อหา ข้อความ โปรแกรมทางคอมพิวเตอร์ รูปภาพ วีดีโอ หรือภาพกราฟฟิกทั้งหลาย และผู้ใช้บริการจะไม่กระทำการใดๆ อันเป็นการล่วงละเมิดสิทธิส่วนบุคคล หรือสิทธิในทรัพย์สินทางปัญญา ทั้งบุคคลภายนอกและของเว็บไซต์ อันได้แก่ การห้ามมิให้ทำซ้ำ, แก้ไข ดัดแปลง ปลอมแปลง หรือใช้ซอฟต์แวร์ใดๆ เพื่อนำข้อมูลหรือบริการส่วนหนึ่งส่วนใดของทางเว็บไซต์ไปใช้ในการแสวงหาประโยชน์ทางการค้า หรือประโยชน์ในทางมิชอบ โดยไม่ได้รับอนุญาตจากทางเว็บไซต์ และทางเว็บไซต์จะดำเนินการตามกฎหมายกับผู้ละเมิดสิทธิ์ดังกล่าวโดยทันที อีกทั้งการนำข้อความ รูปภาพ หรือภาพเคลื่อนไหว ที่ไม่เหมาะสม ไม่สุภาพ มีลักษณะเสียดสี ยั่วยุ และก่อให้เกิดความขัดแย้ง หรือเป็นเท็จ รวมทั้งข้อความและรูปภาพที่มีลักษณะขัดต่อกฎหมาย หรือศีลธรรม เผยแพร่ผ่านบริการของเว็บไซต์ หรือกระทำการอื่นใดอันอาจก่อให้เกิดความสูญเสีย หรือเสียหายต่อเว็บไซต์ และบุคคลภายนอก หากพบว่ามีการละเมิดเงื่อนไขทางเว็บไซต์ขอสงวนสิทธิในการลบ ระงับ ข้อความ รูปภาพใดๆโดยไม่ต้องบอกกล่าวล่วงหน้าและเว็บไซต์จะไม่รับผิดชอบในความเสียหายใดๆ ทั้งสิ้น</p>
                  <h4>5. เกี่ยวกับข้อมูลบนเว็บไซต์</h4>
                  <p>ข้อมูลที่ปรากฏบนเว็บไซต์ทางเว็บไซต์จะใช้ความพยายามในการเก็บรวบรวมข้อมูลให้เป็นข้อมูลล่าสุด ถูกต้อง อยู่เสมอ แต่อย่างไรก็ตามทางเว็บไซต์ไม่สามารถรับประกัน หรือรับรองความเที่ยงตรงของข้อมูลได้ โดยเฉพาะอย่างยิ่งทางเว็บไซต์จะไม่ยอมรับ หรือรับผิดชอบต่อข้อผิดพลาดใดๆ หรือการละเลยเนื้อหาในเว็บไซต์นี้</p>
                  <h4>6. การจัดส่งข้อมูลในเว็บไซต์</h4>
                  <p>เนื้อหาหรือข้อมูลที่ผู้ใช้บริการลงประกาศ เผยแพร่ หรือให้ไว้กับทางเว็บไซต์ ทางเว็บไซต์จะถือว่าทางเว็บไซต์สามารถใช้ข้อมูลดังกล่าวโดยไม่มีเงื่อนไขใดๆทั้งสิ้น และไม่ถือเป็นการละเมิดสิทธิ์จากบุคคลที่สาม รวมถึงลิขสิทธิ์, เครื่องหมายการค้า, ความเป็นส่วนตัว หรือสินทรัพย์ที่เป็นสิทธิส่วนบุคคลอื่นแต่อย่างใดและผู้ใช้บริการต้องเป็นผู้รับผิดชอบข้อมูลทั้งหมดแต่เพียงผู้เดียว และผู้ใช้บริการจะต้องยินยอมให้เว็บไซต์รวบรวมข้อมูลเกี่ยวกับผู้ใช้บริการและการใช้งานเว็บไซต์ หรือให้เว็บไซต์มีสิทธิในการใช้ข้อมูลดังกล่าวตามที่ได้ระบุไว้ในนโยบายความเป็นส่วนตัว</p>
                  <h4>7. การเชื่อมโยงกับเว็บไซต์อื่นๆ</h4>
                  <p>เนื้อหาในเว็บไซต์นี้อาจมีการเชื่อมต่อกับเว็บไซต์อื่นๆ ซึ่งการเชื่อมต่อนี้จะช่วยให้ผู้ใช้บริการค้นหาเว็บไซต์ หรือข้อมูลที่เกี่ยวข้องเพิ่มเติมได้อย่างรวดเร็วและง่ายดาย และทางเว็บไซต์เองไม่มีอำนาจที่จะควบคุม รับรอง ยืนยันความถูกต้อง ความน่าเชื่อถือ หรือรับผิดชอบในเนื้อหาของเว็บไซต์ของบุคคลภายนอก หรือการเชื่อมต่อใดๆได้ ดังนั้นการตัดสินใจว่าเนื้อหาหรือข้อมูลที่เกี่ยวข้องเพิ่มเติมที่นำเสนอผ่านเว็บไซต์เหล่านี้ จะเป็นความรับผิดชอบของท่านเอง เว็บไซต์จะไม่รับผิดชอบเนื้อหาหรือความเสียหายที่เกิดจากข้ออ้างใดๆ ก็ตามที่ละเมิดลิขสิทธิ์หรือทรัพย์สินทางปัญญาประเภทอื่นของเว็บไซต์ของบุคคลที่สามนั้น และเว็บไซต์ม่อนุญาตให้ใส่ลิงค์ที่ไม่ได้รับอนุญาตในเว็บไซต์นี้</p>
                  <h4>8. การจำกัดความรับผิด</h4>
                  <p>ผู้ใช้บริการต้องยอมรับว่า Staynplay.club เป็นเพียงเว็บไซต์สื่อกลางที่ให้บริการด้านข้อมูลให้เช่าที่พัก รีสอรท์ และโรงแรม เพื่อให้ผู้ใช้บริการสามารถลงประกาศให้เช่า และค้นหาที่พัก เท่านั้น ทางเว็บไซต์ไม่ใช่ตัวแทนหรือหุ้นส่วนที่มีส่วนเกี่ยวข้องกับเจ้าของโรงแรม ข้อมูลบ้านพัก และโรงแรม แต่อย่างใด และในการนำเสนอข้อมูลดังกล่าวหากก่อให้เกิดความเสียหายแก่ผู้ใช้บริการ ทางเว็บไซต์จะไม่ขอรับผิด หรือรับผิดชอบต่อความเสียหาย หรือภาระผูกพันทางกฎหมายไม่ว่าในกรณีใดๆทั้งสิ้น หากแต่เมื่อพบข้อมูลที่มีความผิดพลาดทางเว็บไซต์จะยินดีให้เจ้าของข้อมูลหรือทางเว็บไซต์ จะดำเนินการแก้ไขข้อมูลให้ถูกต้องทันที</p>
                  <h4>9. การเปลี่ยนแปลงข้อตกลงและเงื่อนไข</h4>
                  เว็บไซต์อาจมีการเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้บริการ ทั้งนี้เพื่อความเหมาะสมและมีประสิทธิภาพในการให้บริการ ดังนั้นเว็บไซต์จึงขอแนะนำให้ผู้ใช้บริการได้เข้ามาอัพเดตข้อมูลข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ให้ละเอียดก่อนเข้าใช้บริการจากเว็บไซต์</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">ฉันยอมรับ</button>
                  </div>
                </div>
              </div>
            </div>
         
       </div>
       </div>
  </div>
</div> -->



