<section id="home" class="helpr-section helpr-layout-1 section section-inverse-color" >
  <div class="container">
    <div class="helpr-content" data-stellar-offset-parent="true"> 
      
      <!-- helpr TEXT -->
      <%= form_tag search_path, method: :get do %>
      <div class="helpr-text" data-wow-duration="1s" data-wow-delay="0.5s"> 
        <!-- TAGLINE -->
        <div class="webHomeTitle">
          <h1 class="helpr-title">Let us help</h1>
        </div>
        <br/>
    

   <div class="clearfix"></div>       
   <div class="form-group">       
          
  <div class="col-md-12">
      <div class="form-group has-feedback col-md-3 text-xs-center">
         <%= text_field_tag :search, params[:search], placeholder: "ต้องการเดินทางไป..", class: "form-control", id: "autolocation" %>
         
      </div>
      <div class="form-group has-feedback col-md-3">
         <%= text_field_tag :start_date, params[:start_date], placeholder: "เข้าพักวันที่", class: "form-control datepicker" %>
      </div>

      <div class="form-group has-feedback col-md-3">
        <%= text_field_tag :end_date, params[:end_date], placeholder: "ถึงวันที่", class: "form-control datepicker" %>
      </div><!-- end inner row -->
    </div>

  
      <div class="row text-center">
         <%= submit_tag "ค้นหา", class: "btn btn-primary" %>
      </div>
    </div><!-- end inner row -->
  </div>
<% end %>  
   
</div>

<div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</section>

<div class="text-xs-center" style="color: #fff; background-color: #f06292; min-height: 100px; padding: 65px;">
  <h1 style="font-size: 3rem;">Let's just 'Stay' and 'Play'</h1>
  <p class="lead" style="font-size: 1.8rem;">
    <!-- <strong>ตึกรามบ้านช่อง ที่สร้างเสร็จ หรือเกือบเสร็จแล้ว</strong> แต่ยังขาย หรือยังหาใครมาเช่าใช้งานไม่ได้
  </p> -->
</div>

<div style="color: #1a1a1a; background-color: #eee; min-height: 300px; padding: 24px;">

<!-- CITIES -->
<div class="row">
  <div class="col-md-4">
    <a href="https://staynplay.club/search?utf8=%E2%9C%93&search=bangkok">
      <div class="discovery-card" style="background-image: url('/assets/bkk.png')"></div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="https://staynplay.club/search?utf8=%E2%9C%93&search=huahin">
      <div class="discovery-card" style="background-image: url('/assets/huahinbeach.png')"></div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="https://staynplay.club/search?utf8=%E2%9C%93&search=pattaya">
      <div class="discovery-card" style="background-image: url('/assets/pattaya.png')"></div>
    </a>
  </div>
</div></div>

<div class="text-center" style="color: #fff; background-color: #2c2c2c; padding: 100px;">
  <h1>Like it? Share it!</h1> 
  
</div>

<!-- <footer>
    <div class="footerHeader" ></div>
    <div class="container">
    <div class="col-md-4" >
        <h3>StayNPlay</h3>
        <p>
          แอพลิเคชันที่ให้ทุกคนสามารถเข้าถึงเครืองมือทุกอย่างจากทุกที 
        </p>
   </div>
    
    <div class="col-md-4">
        <h3>Market Coverage</h3>
        <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=thailand+()&amp;ie=UTF8&amp;t=&amp;z=6&amp;iwloc=B&amp;output=embed" sytle="" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4" >
        <h3>ติดต่อเรา</h3>
        <ul>
            <li>สำหรับพันธมิตร  : partner@staynplay.club</li>
            <li>ติดต่อฝ่ายเทคนิค : developer@staynplay.club</li>
            <li>ติดต่อฝ่ายขาย    : sales@staynplay.club</li>
        </ul>
         
       
    </div>
    </div>
</footer> -->

<script>
  $('#start_date').datepicker({
    numberOfMonths: 2,
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    numberOfMonths: 2,
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>