<div id="main">
  <div id="left">
    <!-- SEARCH PANEL -->
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-form btn-small" data-toggle="collapse" data-target="#collapsePanel" style: "color: grey";>
          ตัวกรองเพิ่มเติม <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row-filter">
      <br/>
      <div class="collapse" id="collapsePanel">

          <%= search_form_for @search, url: search_path, remote: true do |f| %>

              <div class="row">
                <div class="col-md-8">
                  <label>ราคา:</label>
                  <div id="slider-range"></div>
                </div>
                <div class="col-md-2">
                  <label>ต่ำสุด:</label>
                  <%= f.text_field :price_gteq, class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <label>สูงสุด:</label>
                  <%= f.text_field :price_lteq, class: "form-control" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-6">
                  <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Check in", class: "form-control datepicker" %>
                </div>
                <div class="col-md-6">
                  <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "Check out", class: "form-control datepicker" %>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <%= check_box_tag "q[room_type_eq_any][]", "Entire" %> บ้านทั้งหลัง
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[room_type_eq_any][]", "Private" %> ห้องส่วนตัว
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[room_type_eq_any][]", "Shared" %> ห้องแบ่งเช่า
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>พักได้</label>
                    <%= f.select :accommodate_gteq, [["1 ท่าน", 1], ["2 ท่าน", 2], ["3 ท่าน", 3], ["4 ท่าน", 4], ["5 ท่าน", 5], ["6 ท่าน", 6], ["7 ท่าน", 7], ["8 ท่าน", 8], ["9 ท่าน", 9], ["10 ท่าน", 10], ["11 ท่าน", 11], ["12 ท่าน", 12], ["13 ท่าน", 13], ["14 ท่าน", 14], ["15 ท่าน", 15]], id: "accommodate", prompt: "กรองผลลัพท์", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>ห้องนอน</label>
                    <%= f.select :bed_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9+", 9]], id: "bed_room", prompt: "กรองผลลัพท์", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group select">
                    <label>ห้องน้ำ</label>
                    <%= f.select :bath_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9+", 9]], id: "bath_rooms", prompt: "กรองผลลัพท์", class: "form-control" %>
                  </div>
                </div>
              </div>
              <hr/>

              <div class="row">
                <div class="col-md-4">
                  <%= check_box_tag "q[is_tv_eq]", true %> เคเบิ้ลทีวี 
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_kitchen_eq]", true %> ห้องครัวและอุปกรณ์ทำอาหาร 
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_Internet_eq]", true %> Internet/Wifi
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_heating_eq]", true %> เครื่องทำน้ำอุ่น
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_air_eq]", true %> เครื่องปรับอากาศ
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_bbq_eq]", true %> เตาและอุปกรณ์ปิ้งย่าง
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_karaoke_eq]", true %> คาราโอเกะ
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_parking_eq]", true %> ที่จอดรถ
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_meeting_room_eq]", true %> ห้องประชุม
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_pet_friendly_eq]", true %> สัตว์เลี้ยงเข้าพักได้
                </div>
                 <div class="col-md-4">
                  <%= check_box_tag "q[is_pool_table_eq]", true %> โต๊พูล
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_private_pool_eq]", true %> สระว่ายน้ำ ส่วนตัว
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_public_pool_eq]", true %> สระว่ายน้ำ ส่วนกลาง
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[is_breakfast_eq]", true %> อาหารเช้า
                </div>
              </div>
              <div class="row text-center">
                <%= f.submit "ค้นหา", class: "btn btn-form" %>
              </div>
              </div>              
          <% end %>
      </div>
      <br/>

      <div class="row" id="room_listing">
        <%= render partial: "rooms/rooms_list", locals: {rooms: @arrRooms} %>
      </div>

    </div>
  </div>


  <div id="right">
    <!-- GOOGLE MAP WILL BE HERE -->

    <div id="map" style="width: 100%; height: 100%"></div>

    
    <script>
        function initialize(rooms) {
          var location = {lat: 13.736717, lng: 100.523186}

          if (rooms.length > 0) {
            location = {lat: rooms[0].latitude, lng: rooms[0].longitude}
          }

          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 12
          });

          var marker, inforwindow;

          rooms.forEach(function(room) {
            marker = new google.maps.Marker({
              position: {lat: room.latitude, lng: room.longitude},
              map: map
            });

            inforwindow = new google.maps.InfoWindow({
              content: "<div class='map_price'>~" + room.price + "บ.</div>"
            });

            inforwindow.open(map, marker);
          })
        }

        google.maps.event.addDomListener(window, 'load', function() {
          initialize(<%= raw @arrRooms.to_json %>)
        });
    </script>
  </div>
</div>


<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    numberOfMonths: 2,
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    numberOfMonths: 2,
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  var open = true;

  $('#filter').click(function() {
    if (open) {
      $('#filter').html("ตัวกรองเพิ่มเติม <i class='fa fa-chevron-up'></i>")
    } else {
      $('#filter').html("ตัวกรองเพิ่มเติม  <i class='fa fa-chevron-down'></i>")
    }
    open = !open;
  });
</script>

<script>
  $(function() {
    $("#q_price_gteq").val('300');
    $("#q_price_lteq").val('10000');

    $("#slider-range").slider({
      range: true,
      min: 500,
      max: 30000,
      values: [3000, 10000],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });

    $(".ui-widget-header").css('background', '#00A699');
    $(".ui-state-default, .ui-widget-content").css('background', 'white');
    $(".ui-state-default, .ui-widget-content").css('border-color', '#00A699');
  })
</script>
