<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        ที่อยู่
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

            <div class="row">
              <div class="form-group">
                <label>1. ที่อยู่ บ้านเลขที่</label>
                <%= f.text_field :address, placeholder: "กรุณาระบุบ้านเลขที่", class: "form-control", required: true, id: "autoaddress" %>
              </div>
            </div>
           <!--  <div class="row">
              <div class="form-group">
             <label>2. ลาก marker เพื่อระบุตำแหน่งที่พักบนแผนที่ </label>
              <div id='map_canvas' style="width: 100%; height: 400px"></div>
              <br/>
               <div class="col-md-6">
                <div class="form-group">
                  <label for="latitude">Lat:</label>
                  <%= f.text_field :latitude, class: "form-control", id: "LatitudeTextBox" %>
                </div>
              </div>
                <div class="col-md-6">
                  <div class="form-group">
                  <label for="longitude">Lng:</label>
                  <%= f.text_field :longitude, class: "form-control", id: "LongitudeTextBox" %>
                </div>
              </div>
              <br/>
              <div class="row"> -->
                  <div class="text-center">
                  <%= f.submit "บันทึก", class: "btn btn-form" %>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $(function() {
    $("#autoaddress").geocomplete();
  })
</script>
<!-- 

<script>
var map;
var marker;
var latitudeTextBox = $("#LatitudeTextBox");
var longitudeTextBox = $("#LongitudeTextBox");

jQuery(document).ready(function () {
    var centerLatlng = new google.maps.LatLng("0.0","0.0");

    var mapOptions = {
        zoom: 10,
        center: centerLatlng,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DEFAULT
        },
        navigationControl: true,
        navigationControlOptions: {
            style: google.maps.NavigationControlStyle.DEFAULT
        }
    };

    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    // Edit existing location so that we need to display

    // Display default marker
    marker = new google.maps.Marker({
        draggable: true,
        map: map,
        position: centerLatlng
    });

    // After dragging, updates both Lat and Lng.
    google.maps.event.addListener(marker, 'dragend', function () {
        var curLatLng = marker.getPosition();
        latitudeTextBox.val(curLatLng.lat());
        longitudeTextBox.val(curLatLng.lng());
    });

    google.maps.event.trigger(marker, "click");
});

</script>
 -->
