<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        ราคา
      </div>
      <div class="panel-body">
        <div class="container">

      <%= simple_form_for @room do |f| %>
        <%= f.input :instant %>
        <%= f.input :price %>
        <%= f.input :instant %>
        <%= f.input :instant %>
        <%= f.input :instant %>
        <%= f.input :instant %>
       <%= f.button :submit %>
  <% end %>

          <%= form_for @room do |f| %>

            <div class="row">
              <div class="col-md-3">
                <label>ราคา</label>
                <%= f.text_field :price, placeholder: "เช่น: 1500", class: "form-control", required: true %>
              </div>
            <div class="text-center">
              <%= f.submit "บันทึก", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
